
//colors
// $primario: #3470AE;
// $secundario: #07538D;
// $terciario: #233a4E;
// $especial: #9C6DB0;
// $especial-dos: #493D5D;

$primario: #072e3d;
$secundario: #4C23C2;
$terciario: #56e5ec;
$especial: #483DF6;
$especial-dos: #18056E;

// $primario: #2970CA;
// $secundario: #4C23C2;
// $terciario: #56e5ec;
// $especial: #483DF6;
// $especial-dos: #18056E;

$open: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;
